{% load static %}

<!doctype html>
<html>
    <head>
        <title>Dylan Dev</title>
        <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0" />
        <script src="{% static 'js/codemirror.js' %}" ></script>
        <script src="{% static 'js/python.js' %}"></script>
        <script src="{% static 'js/matchbrackets.js' %}"></script>
        <script src="{% static 'js/closebrackets.js' %}"></script>
        <link rel="stylesheet" href="{% static 'css/codemirror.css' %}"/>
        <link rel="stylesheet" href="{% static 'css/darcula.css' %}"/>
        <link rel="stylesheet" href="{% static 'css/style.css' %}"/>
        <link
            href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700&display=swap"
            rel="stylesheet"
        />
    </head>
    <body>
        <nav class="navbar">
            <ul class="navbar-nav">
              <li class="logo">
                <a href="#" class="nav-link">
                  <span class="link-text logo-text">DYLAN</span>
                  <svg
                    aria-hidden="true"
                    focusable="false"
                    data-prefix="fad"
                    data-icon="angle-double-right"
                    role="img"
                    xmlns="http://www.w3.org/2000/svg"
                    viewBox="0 0 448 512"
                    class="svg-inline--fa fa-angle-double-right fa-w-14 fa-5x"
                  >
                    <g class="fa-group">
                      <path
                        fill="currentColor"
                        d="M224 273L88.37 409a23.78 23.78 0 0 1-33.8 0L32 386.36a23.94 23.94 0 0 1 0-33.89l96.13-96.37L32 159.73a23.94 23.94 0 0 1 0-33.89l22.44-22.79a23.78 23.78 0 0 1 33.8 0L223.88 239a23.94 23.94 0 0 1 .1 34z"
                        class="fa-secondary"
                      ></path>
                      <path
                        fill="currentColor"
                        d="M415.89 273L280.34 409a23.77 23.77 0 0 1-33.79 0L224 386.26a23.94 23.94 0 0 1 0-33.89L320.11 256l-96-96.47a23.94 23.94 0 0 1 0-33.89l22.52-22.59a23.77 23.77 0 0 1 33.79 0L416 239a24 24 0 0 1-.11 34z"
                        class="fa-primary"
                      ></path>
                    </g>
                  </svg>
                </a>
              </li>

              <li class="nav-item">
                <a href="#" class="nav-link">
                    <svg xmlns="http://www.w3.org/2000/svg" width="1771" height="2500" viewBox="221.807 89.47 440 621.061" enable-background="new 221.807 89.47 440 621.061">
                        <filter id="a" width="150%" height="150%" x="-5%" y="-5%">
                        <feFlood flood-color="#000" result="floodFill" flood-opacity=".5"/>
                        <feComposite in="floodFill" in2="SourceAlpha" operator="in" result="coloredAlpha"/>
                        <feGaussianBlur in="coloredAlpha" result="blur" stdDeviation="8"/>
                        <feComposite in="blur" in2="SourceGraphic" operator="out" result="maskedOffsetBlur"/>
                        <feMerge>
                            <feMergeNode in="maskedOffsetBlur"/>
                            <feMergeNode in="SourceGraphic"/>
                        </feMerge>
                        </filter>
                        <g filter="url(#a)">
                        <path fill="#e44d26" d="M261.849 660.647l-40.042-449.125h440l-40.086 449.054-180.184 49.954z"/>
                        <path fill="#f16529" d="M441.807 672.348l145.596-40.367 34.258-383.735H441.807z"/>
                        <path fill="#ebebeb" d="M441.807 414.82h-72.888l-5.035-56.406h77.923V303.33H303.683l1.32 14.778 13.538 151.794h123.266zM441.807 557.876l-.242.066-61.346-16.566-3.922-43.93h-55.294l7.718 86.489 112.834 31.323.252-.071z"/>
                        <path d="M262.745 89.47h27.992v27.656h25.606V89.47h27.993v83.75h-27.993v-28.044h-25.606v28.044h-27.99l-.002-83.75zM381.149 117.244h-24.642V89.47H433.8v27.774h-24.654v55.976H381.15v-55.976h-.001zM446.065 89.47h29.19l17.955 29.428 17.938-29.428h29.2v83.75h-27.882v-41.512l-19.259 29.778h-.481l-19.272-29.778v41.512h-27.39V89.47zM554.277 89.47h28v56.068h39.368v27.682h-67.368V89.47z"/>
                        <path fill="#fff" d="M441.617 414.82v55.082h67.83l-6.395 71.44-61.435 16.58v57.307l112.924-31.294.826-9.309 12.946-145.014 1.344-14.792h-14.842zM441.617 303.33v55.084H574.67l1.103-12.382 2.51-27.924 1.318-14.778z"/>
                        </g>
                    </svg>
                  <span class="link-text">index.html</span>
                </a>
              </li>

              <li class="nav-item">
                <a href="#" class="nav-link">
                    <svg xmlns="http://www.w3.org/2000/svg" width="1771" height="2500" viewBox="221.807 89.47 440 621.061" enable-background="new 221.807 89.47 440 621.061">
                        <filter id="a" width="150%" height="150%" x="-5%" y="-5%">
                        <feFlood flood-color="#000" result="floodFill" flood-opacity=".5"/>
                        <feComposite in="floodFill" in2="SourceAlpha" operator="in" result="coloredAlpha"/>
                        <feGaussianBlur in="coloredAlpha" result="blur" stdDeviation="8"/>
                        <feComposite in="blur" in2="SourceGraphic" operator="out" result="maskedOffsetBlur"/>
                        <feMerge>
                            <feMergeNode in="maskedOffsetBlur"/>
                            <feMergeNode in="SourceGraphic"/>
                        </feMerge>
                        </filter>
                        <g filter="url(#a)">
                        <path fill="#e44d26" d="M261.849 660.647l-40.042-449.125h440l-40.086 449.054-180.184 49.954z"/>
                        <path fill="#f16529" d="M441.807 672.348l145.596-40.367 34.258-383.735H441.807z"/>
                        <path fill="#ebebeb" d="M441.807 414.82h-72.888l-5.035-56.406h77.923V303.33H303.683l1.32 14.778 13.538 151.794h123.266zM441.807 557.876l-.242.066-61.346-16.566-3.922-43.93h-55.294l7.718 86.489 112.834 31.323.252-.071z"/>
                        <path d="M262.745 89.47h27.992v27.656h25.606V89.47h27.993v83.75h-27.993v-28.044h-25.606v28.044h-27.99l-.002-83.75zM381.149 117.244h-24.642V89.47H433.8v27.774h-24.654v55.976H381.15v-55.976h-.001zM446.065 89.47h29.19l17.955 29.428 17.938-29.428h29.2v83.75h-27.882v-41.512l-19.259 29.778h-.481l-19.272-29.778v41.512h-27.39V89.47zM554.277 89.47h28v56.068h39.368v27.682h-67.368V89.47z"/>
                        <path fill="#fff" d="M441.617 414.82v55.082h67.83l-6.395 71.44-61.435 16.58v57.307l112.924-31.294.826-9.309 12.946-145.014 1.344-14.792h-14.842zM441.617 303.33v55.084H574.67l1.103-12.382 2.51-27.924 1.318-14.778z"/>
                        </g>
                    </svg>
                  <span class="link-text">about.html</span>
                </a>
              </li>

              <li class="nav-item">
                <a href="#" class="nav-link">
                    <svg xmlns="http://www.w3.org/2000/svg" width="1771" height="2500" viewBox="221.807 89.47 440 621.061" enable-background="new 221.807 89.47 440 621.061">
                        <filter id="a" width="150%" height="150%" x="-5%" y="-5%">
                        <feFlood flood-color="#000" result="floodFill" flood-opacity=".5"/>
                        <feComposite in="floodFill" in2="SourceAlpha" operator="in" result="coloredAlpha"/>
                        <feGaussianBlur in="coloredAlpha" result="blur" stdDeviation="8"/>
                        <feComposite in="blur" in2="SourceGraphic" operator="out" result="maskedOffsetBlur"/>
                        <feMerge>
                            <feMergeNode in="maskedOffsetBlur"/>
                            <feMergeNode in="SourceGraphic"/>
                        </feMerge>
                        </filter>
                        <g filter="url(#a)">
                        <path fill="#e44d26" d="M261.849 660.647l-40.042-449.125h440l-40.086 449.054-180.184 49.954z"/>
                        <path fill="#f16529" d="M441.807 672.348l145.596-40.367 34.258-383.735H441.807z"/>
                        <path fill="#ebebeb" d="M441.807 414.82h-72.888l-5.035-56.406h77.923V303.33H303.683l1.32 14.778 13.538 151.794h123.266zM441.807 557.876l-.242.066-61.346-16.566-3.922-43.93h-55.294l7.718 86.489 112.834 31.323.252-.071z"/>
                        <path d="M262.745 89.47h27.992v27.656h25.606V89.47h27.993v83.75h-27.993v-28.044h-25.606v28.044h-27.99l-.002-83.75zM381.149 117.244h-24.642V89.47H433.8v27.774h-24.654v55.976H381.15v-55.976h-.001zM446.065 89.47h29.19l17.955 29.428 17.938-29.428h29.2v83.75h-27.882v-41.512l-19.259 29.778h-.481l-19.272-29.778v41.512h-27.39V89.47zM554.277 89.47h28v56.068h39.368v27.682h-67.368V89.47z"/>
                        <path fill="#fff" d="M441.617 414.82v55.082h67.83l-6.395 71.44-61.435 16.58v57.307l112.924-31.294.826-9.309 12.946-145.014 1.344-14.792h-14.842zM441.617 303.33v55.084H574.67l1.103-12.382 2.51-27.924 1.318-14.778z"/>
                        </g>
                    </svg>
                  <span class="link-text">contact.html</span>
                </a>
              </li>

              <li class="nav-item" id="themeButton">
                <a href="#" class="nav-link">
                  <svg
                    class="theme-icon"
                    id="lightIcon"
                    aria-hidden="true"
                    focusable="false"
                    data-prefix="fad"
                    data-icon="moon-stars"
                    role="img"
                    xmlns="http://www.w3.org/2000/svg"
                    viewBox="0 0 512 512"
                    class="svg-inline--fa fa-moon-stars fa-w-16 fa-7x"
                  >
                    <g class="fa-group">
                      <path
                        fill="currentColor"
                        d="M320 32L304 0l-16 32-32 16 32 16 16 32 16-32 32-16zm138.7 149.3L432 128l-26.7 53.3L352 208l53.3 26.7L432 288l26.7-53.3L512 208z"
                        class="fa-secondary"
                      ></path>
                      <path
                        fill="currentColor"
                        d="M332.2 426.4c8.1-1.6 13.9 8 8.6 14.5a191.18 191.18 0 0 1-149 71.1C85.8 512 0 426 0 320c0-120 108.7-210.6 227-188.8 8.2 1.6 10.1 12.6 2.8 16.7a150.3 150.3 0 0 0-76.1 130.8c0 94 85.4 165.4 178.5 147.7z"
                        class="fa-primary"
                      ></path>
                    </g>
                  </svg>
                  <svg
                    class="theme-icon"
                    id="solarIcon"
                    aria-hidden="true"
                    focusable="false"
                    data-prefix="fad"
                    data-icon="sun"
                    role="img"
                    xmlns="http://www.w3.org/2000/svg"
                    viewBox="0 0 512 512"
                    class="svg-inline--fa fa-sun fa-w-16 fa-7x"
                  >
                    <g class="fa-group">
                      <path
                        fill="currentColor"
                        d="M502.42 240.5l-94.7-47.3 33.5-100.4c4.5-13.6-8.4-26.5-21.9-21.9l-100.4 33.5-47.41-94.8a17.31 17.31 0 0 0-31 0l-47.3 94.7L92.7 70.8c-13.6-4.5-26.5 8.4-21.9 21.9l33.5 100.4-94.7 47.4a17.31 17.31 0 0 0 0 31l94.7 47.3-33.5 100.5c-4.5 13.6 8.4 26.5 21.9 21.9l100.41-33.5 47.3 94.7a17.31 17.31 0 0 0 31 0l47.31-94.7 100.4 33.5c13.6 4.5 26.5-8.4 21.9-21.9l-33.5-100.4 94.7-47.3a17.33 17.33 0 0 0 .2-31.1zm-155.9 106c-49.91 49.9-131.11 49.9-181 0a128.13 128.13 0 0 1 0-181c49.9-49.9 131.1-49.9 181 0a128.13 128.13 0 0 1 0 181z"
                        class="fa-secondary"
                      ></path>
                      <path
                        fill="currentColor"
                        d="M352 256a96 96 0 1 1-96-96 96.15 96.15 0 0 1 96 96z"
                        class="fa-primary"
                      ></path>
                    </g>
                  </svg>
                  <span class="link-text">Dylan Nguyen 2020</span>
                </a>
              </li>
            </ul>
          </nav>
        <main>
<!--Editor Area-->
<textarea id="editor">{% block content %}

{% endblock %}
</textarea>
            <script>
                var editor = CodeMirror.fromTextArea
                (
                    document.getElementById('editor'),
                    {
                        mode:{name: "python",
                            version: 3,
                            singleLineStringErrors: false},
                        theme: "darcula",
                        lineNumbers: true,
                        indentUnit: 4,
                        matchBrackets: true,
                        autoCloseBrackets: true
                    }
                );
            </script>
        </main>
    </body>
</html>
