{% load static %}

<!doctype html>
<html>
    <head>
        <title>Dylan Dev</title>
        <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0" />
        <script src="{% static 'js/codemirror.js' %}" ></script>
        <script src="{% static 'js/python.js' %}"></script>
        <script src="{% static 'js/matchbrackets.js' %}"></script>
        <script src="{% static 'js/closebrackets.js' %}"></script>
        <link rel="stylesheet" href="{% static 'css/codemirror.css' %}"/>
        <link rel="stylesheet" href="{% static 'css/darcula.css' %}"/>
        <link rel="stylesheet" href="{% static 'css/style.css' %}"/>
        <link
            href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700&display=swap"
            rel="stylesheet"
        />
        <link rel="apple-touch-icon" sizes="180x180" href="{% static 'img/apple-touch-icon.png' %}">
        <link rel="icon" type="image/png" sizes="32x32" href="{% static 'img/favicon-32x32.png' %}">
        <link rel="icon" type="image/png" sizes="16x16" href="{% static 'img/favicon-16x16.png' %}">
    </head>
    <body>
        <nav class="navbar">
            <ul class="navbar-nav">
              <li class="logo">
                <a href="/" class="nav-link">
                  <span class="link-text logo-text">DYLAN</span>
                  <svg
                    aria-hidden="true"
                    focusable="false"
                    data-prefix="fad"
                    data-icon="angle-double-right"
                    role="img"
                    xmlns="http://www.w3.org/2000/svg"
                    viewBox="0 0 448 512"
                    class="svg-inline--fa fa-angle-double-right fa-w-14 fa-5x"
                  >
                    <g class="fa-group">
                      <path
                        fill="currentColor"
                        d="M224 273L88.37 409a23.78 23.78 0 0 1-33.8 0L32 386.36a23.94 23.94 0 0 1 0-33.89l96.13-96.37L32 159.73a23.94 23.94 0 0 1 0-33.89l22.44-22.79a23.78 23.78 0 0 1 33.8 0L223.88 239a23.94 23.94 0 0 1 .1 34z"
                        class="fa-secondary"
                      ></path>
                      <path
                        fill="currentColor"
                        d="M415.89 273L280.34 409a23.77 23.77 0 0 1-33.79 0L224 386.26a23.94 23.94 0 0 1 0-33.89L320.11 256l-96-96.47a23.94 23.94 0 0 1 0-33.89l22.52-22.59a23.77 23.77 0 0 1 33.79 0L416 239a24 24 0 0 1-.11 34z"
                        class="fa-primary"
                      ></path>
                    </g>
                  </svg>
                </a>
              </li>
<!-- Navbar Items Section -->
              {% for item in items %}
              <li class="nav-item">
                <a href="{{item.url_link}}" class="nav-link">
                  {{item.svg_image | safe}}
                  <span class="link-text">{{item.label}}</span>
                </a>
              </li>
              {% endfor %}
              <li></li>

            </ul>
          </nav>
        <main>
<!--Editor Area-->
<textarea id="editor">{% block content %}

{% endblock %}
</textarea>
            <script>
                var editor = CodeMirror.fromTextArea
                (
                    document.getElementById('editor'),
                    {
                        mode:{name: "python",
                            version: 3,
                            singleLineStringErrors: false},
                        theme: "darcula",
                        lineNumbers: true,
                        indentUnit: 4,
                        matchBrackets: true,
                        autoCloseBrackets: true
                    }
                );
            </script>
        </main>
    </body>
</html>
